.banner .carousel_list {
    width: 600%;
    /* 清除浮动 */
    overflow: hidden;
    /* translateX中的百分数表示相对于它本身的宽度的多少倍 */
    /* transform: translateX(-16.667%); */
    transition: transform .5s ease 0s;
}

.banner .carousel_list li {
    float: left;
    width: 16.666%;
}

.banner .carousel_list li img {
    width: 100%;
    /* 白边处理 */
    vertical-align: middle;
}
.banner .circles {
    width: 160px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
    z-index: 9999;
}
.banner .circles li {
    float: left;
    width: 20px;
    height: 20px;
    background-color: rgb(122, 233, 105);
    margin-right: 10px;
    border-radius: 10px;
    transition: all .5s ease 0s;
    /* 鼠标指针变为小手状 */
    cursor: pointer;
}
.banner .circles li:last-child {
    margin-right: 0;
}
.banner .circles li.current {
    width: 40px;
    background-color: #20BD9A;
}